<!--<p>{{ message }}</p>-->

<!--<p [id]="sayHelloId" [style.color]="fontColor">-->
<!--  You can set my color in the component!-->
<!--</p>-->

<!--<button type="button" [disabled]="canClick" (click)="onEditClick()">-->
<!--  Trigger alert message-->
<!--</button>-->


<!--<div *ngIf="canEdit; else noEdit">-->
<!--  <p>You can edit the following paragraph.</p>-->
<!--</div>-->

<!--<ng-template #noEdit>-->
<!--  <p>The following paragraph is read only. Try clicking the button!</p>-->
<!--</ng-template>-->

<!--<p [contentEditable]="canEdit">{{ message }}</p>-->


<!--<p>{{ message1 }}</p>-->
<!--  <a style="margin-left: 10px" href="#">-->
<!--&lt;!&ndash;    <img alt="armenia" src="../assets/images/armenia.jpg" width="50" height="30">&ndash;&gt;-->
<!--  </a>-->

<!--<a (click)="onEditClick1(1)" style="margin-left: 10px" href="#">-->
<!--  <img alt="armenia" src="../assets/images/armenia.jpg" width="50" height="30">-->
<!--</a>-->

<!--<a (click)="onEditClick1(0)" style="margin-left: 10px" href="#">-->
<!--  <img alt="usa" src="../assets/images/usa.jpg" width="50" height="30">-->
<!--</a>-->

<!--<a (click)="onEditClick1(2)" style="margin-left: 10px" href="#">-->
<!--  <img alt="russia" src="../assets/images/russia.png" width="50" height="30">-->
<!--</a>-->



<!--<div style="margin-top: 50px">-->
<!--  <a href="#" *ngFor="let src of images; let i = index">-->
<!--    <img [src]="src" width="100" height="70">-->
<!--  </a>-->
<!--</div>-->


<!--<input (click)="onInputValue()" id="flag" type="button" name="flag" value="Armenia" />-->
<!--<input (click)="onInputValue1()" id="flag2" type="button" name="flag" value="Usa" />-->
<!--<input (click)="onInputValue2()" id="flag3" type="button" name="flag" value="Russia" />-->
<!--<img id="img1" class="img1 img-arm" src="../assets/images/armenia.jpg" width="175" height="116">-->
<!--<img id="img3" class="img1 img-arm" src="../assets/images/usa.jpg" width="175" height="116">-->
<!--<img id="img4" class="img1 img-arm" src="../assets/images/russia.png" width="175" height="116">-->
<!--<input (click)="onClickRemove()" id="remove-btt" type="button" name="flag" value="Remove" />-->


<!--<input style="margin-top: 50px" class="input-text" id="input-text" type="text" name="inp" value="Type Text">-->
<!--<input (click)="onClickAddImg()" class="input-btn" id="input-btn" type="button" name="inp-btn" value="click for add">-->
<!--<input (click)="onClickRemoveImg()" id="remove-btn" type="button" name="flag" value="Remove" />-->
<!--<img id="task-img1" class="task-none task-img1" src="../assets/images/armenia.jpg" width="175" height="116">-->
<!--<img id="task-img2" class="task-none task-img2" src="../assets/images/usa.jpg" width="175" height="116">-->
<!--<img id="task-img3" class="task-none task-img3" src="../assets/images/russia.png" width="175" height="116">-->



<!--<app-input></app-input>-->
<app-register></app-register>
