
<p style="font-size: 18px;color: black;margin-top: 0;margin-bottom: 0">First Name</p>
<p id="p-f-name" style="color: red"></p>
<input class="f-name input-register" id="f-name" type="text">

<p style="font-size: 18px;color: black;margin-top: 0;margin-bottom: 0">Last Name</p>
<p id="p-l-name" style="color: red"></p>
<input class="l-name input-register" id="l-name" type="text">

<p style="font-size: 18px;color: black;margin-top: 0;margin-bottom: 0">Age</p>
<p id="p-age" style="color: red"></p>
<input class="age input-register" id="age" type="number">

<p style="font-size: 18px;color: black;margin-top: 0;margin-bottom: 0">Phone</p>
<input class="phone input-register" id="phone" type="text">

<p style="font-size: 18px;color: black;margin-top: 0;margin-bottom: 0">Email</p>
<p id="p-email" style="color: red"></p>
<input class="email input-register" id="email" type="text">

<p style="font-size: 18px;color: black;margin-top: 0;margin-bottom: 0">UserName</p>
<p id="p-user" style="color: red"></p>
<input class="username input-register" id="username" type="text">

<p style="font-size: 18px;color: black;margin-top: 0;margin-bottom: 0">Password</p>
<input class="password input-register" id="password" type="password">

<p style="font-size: 18px;color: black;margin-top: 0;margin-bottom: 0">Confirm-Password</p>
<input class="confirm-pass input-register" id="confirm-pass" type="password">

<input class="reg-btn" id="reg-btn" type="button" value="Register" (click)="registerButton()">


