<input class="f-name input-register" id="f-name" type="text">
<input class="l-name input-register" id="l-name" type="text">
<input class="age input-register" id="age" type="text">
<input class="phone input-register" id="phone" type="text">
<input class="email input-register" id="email" type="text">
<input class="username input-register" id="username" type="text">
<input class="password input-register" id="password" type="text">
<input class="confirm-pass input-register" id="confirm-pass" type="text">

